.consultation{
    padding-top: 56px;
    &__header{
        color: #3a3a3a;
        font-family: Roboto;
        font-size: 28px;
        font-weight: 400;
        line-height: 23px;
        text-align: center;
        margin-bottom: 20px;
    }
    &__btn{
        display: block;
        margin: 20px auto;
    }
    &__form{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 1140px;
        height: 166px;
        border: 1px solid #898989;
        margin-top: 70px;
        flex-wrap: wrap;

    }
    &__img{
        position: absolute;
        height: 102px;
        width: 102px;
        border: 1px solid $main-color;
        border-radius: 100px;
        padding-top: 21px;
        padding-left: 24px;
        left: 47%;

    }
    &__input{
        width: 268px;
        height: 45px;
        border-radius: 20px;
        margin-left: 5px;
        border: 1px solid #898989;
        padding-left: 20px;
    }
}
