.header{
    &__wrapper{
        max-width: 879px;
        display: block;
        margin: 0 auto;
    }
}
.descr{
    color: #2e2e2e;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 300;
    text-align: center;
    margin-top: 17px;

}