.question{
    min-height: 438px;
    background: url('../img/question/bg.jpg') center center / cover no-repeat;
    padding-top: 62px;
    &__box{
        max-width: 896px;
        min-height: 297px;
        border: 1px solid black;
        display: block;
        margin: 0 auto;
        &-grey{
            max-width: 896px;
            min-height: 228px;
            background-color: rgba(white, 0.7);
            padding: 18px 30px;
        }
    }
    &__header{
        height: 68px;
        background-color: #25333c;
        padding-top: 10px;
    }
    &__title{
        color: #ffffff;
        font-family: Roboto;
        font-size: 19px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
    &__subtitle{
        color: #ffffff;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        text-transform: uppercase;
    }
    &__input{
        width: 33%;
        height: 45px;
        border-radius: 20px;
        // margin-right: 5px;
        padding-left: 20px;
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.21);
        margin-top: 8px;
    }
    &__form{
        display: block;
        margin: 0 auto;
    }
    &__btn{
        display: block;
        margin: 0 auto;
        margin-top: 17px;
    }
    &__textarea{
        margin-top: 8px;
        height: 71px;
        border-radius: 20px;
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.21);
        height: 71px;
        padding: 10px 20px; 
        resize: vertical;
        width: 100%;
    }
}
